<script lang="ts">
  export let size: "small" | "medium" | "large" = "medium";

  const sizes = {
    small: {
      width: "16",
      height: "16",
    },
    medium: {
      width: "20",
      height: "20",
    },
    large: {
      width: "24",
      height: "24",
    },
  };
</script>

<svg
  {...sizes[size]}
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="feather feather-loader">
  <polyline
    points="15 18 9 12 15 6" />
</svg>
