<script lang="ts">
  export let size: "small" | "medium" | "large" = "medium";

  const sizes = {
    small: {
      width: "16",
      height: "16",
    },
    medium: {
      width: "20",
      height: "20",
    },
    large: {
      width: "24",
      height: "24",
    },
  };
</script>

<style lang="scss">
  svg {
    @for $i from 0 to 8 {
      .line-#{$i} {
        animation: 800ms linear infinite circle;
        animation-delay: $i * 100ms;
      }
    }
  }

  @keyframes circle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<svg
  {...sizes[size]}
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="feather feather-loader">
  <line class="line-0" x1="12" y1="2" x2="12" y2="6" />
  <line class="line-1" x1="16.24" y1="7.76" x2="19.07" y2="4.93" />
  <line class="line-2" x1="18" y1="12" x2="22" y2="12" />
  <line class="line-3" x1="16.24" y1="16.24" x2="19.07" y2="19.07" />
  <line class="line-4" x1="12" y1="18" x2="12" y2="22" />
  <line class="line-5" x1="4.93" y1="19.07" x2="7.76" y2="16.24" />
  <line class="line-6" x1="2" y1="12" x2="6" y2="12" />
  <line class="line-7" x1="4.93" y1="4.93" x2="7.76" y2="7.76" />
  </svg>
