<script lang="ts">
  import {
    Button,
    Text,
    Link,
    Container,
    Drw,
    Checkbox,
  } from "../../../blue-design-components";
  export let grade = "";

  export let agreed = false
  export let stage = 0;

</script>

{#if stage === 0}
  <Drw.Backdrop />
  <Drw.Drawer>
    <Drw.Content>
      <Text h3>Привет, друг!</Text>
      <Text>
        Для участия в олимпиаде тебе необходимо ознакомится с
        <Link>правилами участия</Link>
        и дать свое согласие.
      </Text>
      <Container>
        <Checkbox checked={agreed} on:change={() => (agreed = !agreed)}>
          Я согласен с условиями
        </Checkbox>
        <Button type="success" on:click={() => (stage = 1)} disabled={!agreed}>
          Далее
        </Button>
      </Container>
    </Drw.Content>
  </Drw.Drawer>
{:else if stage === 1}
  <Drw.Backdrop />
  <Drw.Drawer>
    <Drw.Content>
      <Text h3>В каком классе ты учишься?</Text>
      <Text>
        На олимпиаде три возрастные категории: 5-6 классы, 7-8 классы и 9-11
        классы. Выбери свою возрастную категорию.
      </Text>
      <Container>
        <Container row>
          <Container>
            <Checkbox
              on:change={(e) => (grade = '5-6')}
              radio
              checked={grade === '5-6'}>
              5-6 классс
            </Checkbox>
          </Container>
          <Container>
            <Checkbox
              on:change={(e) => (grade = '7-8')}
              radio
              checked={grade === '7-8'}>
              7-8 класс
            </Checkbox>
          </Container>
          <Container>
            <Checkbox
              on:change={(e) => (grade = '9-11')}
              radio
              checked={grade === '9-11'}>
              9-11 класс
            </Checkbox>
          </Container>
        </Container>
        <Button type="success" disabled={grade === ''} on:click>
          Перейти к олимпиаде
        </Button>
      </Container>
    </Drw.Content>
  </Drw.Drawer>
{/if}
