<script context="module" lang="ts">
  export async function preload(page, session) {
    const user = await this.fetch(`${session.api}/auth/get`, {
      method: "GET",
      headers: {
        Authorization: `Bearer ${session.jwt}`,
        Accept: "application/json",
      },
    });

    if (user.ok) {
      const levels = await this.fetch(
        `${session.api}/level/findByContestID/5fc20aeb5d73fb2bc483d973`
      );
      const contest = await this.fetch(
        `${session.api}/rank/getlvls/5fc20aeb5d73fb2bc483d973`,
        {
          headers: {
            Authorization: `Bearer ${session.jwt}`,
          },
        }
      );
      return {
        jwt: session.jwt,
        host: session.api,
        user: await user.json(),
        levels: await levels.json(),
        date: Date.now(),
      };
    } else {
      return this.redirect(301, `https://app.balatech.asia/login`);
    }
  }
</script>

<script lang="ts">
  import Button from "../../../blue-design-components/src/stories/Button/Button.svelte";
  import Container from "../../../blue-design-components/src/stories/Container/Container.svelte";
  import Text from "../../../blue-design-components/src/stories/Text/Text.svelte";
  import { goto } from "@sapper/app";

  export let jwt;
  export let host;
  export let user;
  export let levels;
  export let date;

  const results = user.contestResults[3].levelResults
</script>

<Container>
{#each levels as level}
  <Container row justify="space-between">
    <Text margin="0" bold>{level.name}</Text>
    <Button
      size="small"
      on:click={() => goto(`/engine/?level_id=${level._id}`)}
      disabled={results.includes(level._id)}>
      {results.includes(level._id) ? 'Решено' : 'Перейти'}
    </Button>
    <!-- <Button size="small" disabled>Перейти</Button> -->
  </Container>
{/each}
</Container>