<script lang="ts">
	import Nav from '../components/Nav.svelte';
</script>

<style>
	main {
		position: relative;
		max-width: 400px;
		background-color: white;
		padding: 16px;
		margin: 0 auto;
		box-sizing: border-box;
	}
</style>

<main>
	<slot></slot>
</main>