<script context="module" lang="ts">
	export async function preload(page, session) {
		
		console.log(session.jwt)
		
		const user = await this.fetch(`${session.api}/auth/get`, {
			method: 'GET',
			headers: {
				'Authorization': `Bearer ${session.jwt}`,
				'Accept': 'application/json'
			}
		})
		
		if (user.ok) {
			try {
				const contestID = `5fa4109196cad84ccde1a461`
				const register = await this.fetch(`${session.api}/registration/register`, {
					method: 'POST',
					headers: {
						'Authorization': `Bearer ${session.jwt}`,
						'Accept': 'application/json',
						'Content-type': 'application/json'
					},
					body: JSON.stringify({ contestID })
				})
			}
			catch (error) {
				
			}
			return { jwt: session.jwt, host: session.api, user: await user.json(), time: new Date().toUTCString() }
		}
		else {
			return this.redirect(301, `https://app.balatech.asia/login`)
		}
	}
</script>

<script lang="ts">
	import { goto } from "@sapper/app";
	import {
		Button,
		Text,
		Link,
		Container,
		Drw,
		Checkbox,
	} from "../../../blue-design-components";
	import Fieldset from "../../../blue-design-components/src/stories/Fieldset/Fieldset";
	import ChevronRight from "../../../blue-design-components/src/stories/Icons/ChevronRight.svelte";
	import Counter from "../components/Counter.svelte";
import RegisterDrawer from "../components/RegisterDrawer.svelte";
import { onMount } from 'svelte'

	let agreed = false;
	let stage = 2;
	let open = false;

	export let time

	export let user
	export let host
	export let jwt

	onMount(() => {
		console.log(user.contestResults)
		console.log(time);
	})

	let grade = user.grade

	let gradeSet = grade !== ''

	const setGrade = async () => {
		let res = await fetch(`${host}/auth/setGrade/${grade}`, {
			headers: {
				'Authorization': `Bearer ${jwt}`
			}
		})
		gradeSet = true
	}
</script>

{#if !gradeSet}
	<RegisterDrawer bind:grade={grade} on:click={setGrade}/>
{/if}

<Container>
	<Container>
		<Text h4>Центрально-Азиатская олимпиада</Text>
		<Text margin="0" small>Призовой фонд: 5000$ (400,000 сомов).</Text>
		<Text margin="0" small>
			Страны участники:  Кыргызстан, Казахстан, Таджикистан и Узбекистан.
		</Text>
		<Text margin="0" small>
			Участие могут принять школьники с 5 по 11 классы.
		</Text>
		<Text margin="0" small>Олимпиада состоит из 3 этапов.</Text>
		{#if open}
			<Text margin="24px 0 0 0">
				Миссия олимпиады: Вызвать интерес у молодого поколения изучать
				современные технологии и вдохновить на созидание нового.
			</Text>
			<Text>
				В будущем наши участники будут создавать инновационные проекты в IT
				сфере, которые будут приносить пользу людям в любой точке планеты.
			</Text>
			<Text bold>Призы</Text>
			<Text margin="0" small bold>Возрастная категория 5-6 классы:</Text>
			<Text margin="0" small>1 место - ASUS X540U</Text>
			<Text margin="0" small>2 место - Lenovo IdeaPad 3 15ADA05</Text>
			<Text margin="0" small>3 место - ASUS X540U (minimal)</Text>

			<Text margin="24px 0 0 0" small bold>
				Возрастная категория 7-8 классы:
			</Text>
			<Text margin="0" small>1 место - ASUS X540U</Text>
			<Text margin="0" small>2 место - Lenovo IdeaPad 3 15ADA05</Text>
			<Text margin="0" small>3 место - ASUS X540U (minimal)</Text>

			<Text margin="24px 0 0 0" small bold>
				Возрастная категория 9-11 классы:
			</Text>
			<Text margin="0" small>1 место - Lenovo IdeaPad S145-15API</Text>
			<Text margin="0" small>2 место - Lenovo IdeaPad 3 15ADA05</Text>
			<Text margin="0" small>3 место - ASUS X540U (minimal)</Text>

			<Text margin="24px 0 0 0" bold>Этап I</Text>
			<Text margin="0" small>
				7 ноября 2020, в 12.00 по Бишкекскому времени (GMT+6) участникам будет
				открыт доступ на 15 олимпиадных заданий. В течении 2 часов участникам
				необходимо решить как можно больше заданий. Участники набравшие 10 и
				более баллов проходят на следующий этап.
			</Text>

			<Text margin="24px 0 0 0" bold>Этап II</Text>
			<Text margin="0" small>
				14 ноября 2020, в 12.00 по Бишкекскому времени (GMT+6) участникам будет
				открыт доступ на 20 олимпиадных заданий. В течении 2 часов участникам
				необходимо решить как можно больше заданий. 201 участников, набравшие
				наивысший балл проходят в финал (67 участников с каждой возрастной
				категории).
			</Text>

			<Text margin="24px 0 0 0" bold>Этап III: Финал</Text>
			<Text margin="0" small>
				21 ноября 2020, в 12.00 по Бишкекскому времени (GMT+6) участникам будет
				открыт доступ на 30 олимпиадных заданий. В течении 1,5 часов участникам
				необходимо решить как можно больше заданий. По результатам набранных
				баллов будут определены призеры олимпиады 1,2 и 3 места в каждой
				возрастной категории.
			</Text>

			<Text margin="24px 0 0 0" bold>Награждение</Text>
			<Text margin="0" small>
				Призы будут отправлены и оплачены организаторами олимпиады вне
				зависимости от места проживания призера.
			</Text>

			<Text margin="24px 0 0 0" bold>
				У вас появился вопрос? Свяжитесь с нами:
			</Text>
			<Text margin="0">тел/whatsapp: +996500984747</Text>
			<Text margin="0">тел/whatsapp: +996550984747</Text>
			<Text margin="0">почта: asiabalatech@gmail.com</Text>
		{/if}
		<Button size="small" type="success" on:click={() => (open = !open)}>
			{open ? 'Скрыть' : 'Подробнее'}
		</Button>
	</Container>

	<Fieldset.Fieldset>
		<Fieldset.Header>Этап I</Fieldset.Header>
		<Fieldset.Content>
			<Container row justify="space-between">
				<Text margin="0" small>Дата</Text>
				<Text margin="0" bold small>7 ноября</Text>
			</Container>
			<Container row justify="space-between">
				<Text margin="0" small>Время</Text>
				<Text margin="0" bold small>12.00 - 14.00</Text>
			</Container>
			<Container row justify="space-between">
				<Text margin="0" small>Стоимость участия</Text>
				<Text margin="0" bold small>Бесплатно</Text>
			</Container>
		</Fieldset.Content>
		<Fieldset.Footer>
			<Fieldset.FooterStatus>
				<!-- <Text margin="0" small>До начала олимпиады осталось:</Text> -->
				<Text margin="0" bold>
					<!-- <Counter date="Nov 7, 2020, 12:00" /> -->
					Этап окончен. Вы можете посмотреть результаты тут
				</Text>
			</Fieldset.FooterStatus>
			<Fieldset.FooterActions>
				<Button postfix={ChevronRight} on:click={() => goto('/stage-1')}>
					Результаты
				</Button>
			</Fieldset.FooterActions>
		</Fieldset.Footer>
	</Fieldset.Fieldset>
	<Fieldset.Fieldset>
		<Fieldset.Header>Этап II</Fieldset.Header>
		<Fieldset.Content>
			<Container row justify="space-between">
				<Text margin="0" small>Дата</Text>
				<Text margin="0" bold small>14 ноября</Text>
			</Container>
			<Container row justify="space-between">
				<Text margin="0" small>Время</Text>
				<Text margin="0" bold small>12.00 - 14.00</Text>
			</Container>
			<Container row justify="space-between">
				<Text margin="0" small>Стоимость участия</Text>
				<Text margin="0" bold small>3$USD (240 KGS)</Text>
			</Container>
		</Fieldset.Content>
		<Fieldset.Footer>
			<Fieldset.FooterStatus>
				<Text margin="0" bold>
				Этап окончен. Вы можете посмотреть результаты тут
				</Text>
			</Fieldset.FooterStatus>
			<Fieldset.FooterActions>
				<Button postfix={ChevronRight} disabled={user.contestResults[1] ? false : true} on:click={() => goto('/stage-2')}>Результаты</Button>
			</Fieldset.FooterActions>
		</Fieldset.Footer>
	</Fieldset.Fieldset>
	<Fieldset.Fieldset>
		<Fieldset.Header>Этап III: Финал</Fieldset.Header>
		<Fieldset.Content>
			<Container row justify="space-between">
				<Text margin="0" small>Дата</Text>
				<Text margin="0" bold small>28 ноября</Text>
			</Container>
			<Container row justify="space-between">
				<Text margin="0" small>Время</Text>
				<Text margin="0" bold small>12.00 - 13.30</Text>
			</Container>
			<Container row justify="space-between">
				<Text margin="0" small>Стоимость участия</Text>
				<Text margin="0" bold small>Бесплатно</Text>
			</Container>
		</Fieldset.Content>
		<Fieldset.Footer>
			<Fieldset.FooterStatus>
				<!-- Этап начнется через <br> -->
				<!-- <Counter date="2020-11-28T06:00:00.000+00:00" now={time}/> -->
				<Text margin="0" bold>
					Этап окончен. Вы можете посмотреть результаты тут
					</Text>
			</Fieldset.FooterStatus>
			<Fieldset.FooterActions>
				<Button postfix={ChevronRight} disabled={user.contestResults[2] ? false : true} on:click={() => goto('/stage-3')}>Результаты</Button>
			</Fieldset.FooterActions>
		</Fieldset.Footer>
	</Fieldset.Fieldset>
</Container>
