<script context="module" lang="ts">
  export async function preload(page, session) {
    const user = await this.fetch(`${session.api}/auth/get`, {
      method: "GET",
      headers: {
        Authorization: `Bearer ${session.jwt}`,
        Accept: "application/json",
      },
    });

    if (user.ok) {
      const levels = await this.fetch(
        `${session.api}/level/findByContestID/5fbcd98a3a42fb301854ffea`
      );
      const contest = await this.fetch(
        `${session.api}/rank/getlvls/5fbcd98a3a42fb301854ffea`,
        {
          headers: {
            Authorization: `Bearer ${session.jwt}`,
          },
        }
      );
      return {
        jwt: session.jwt,
        host: session.api,
        user: await user.json(),
        levels: await levels.json(),
        date: Date.now()
      };
    } else {
      return this.redirect(301, `https://app.balatech.asia/login`);
    }
  }
</script>

<script lang="ts">
  import { onMount } from "svelte";
  import Button from "../../../blue-design-components/src/stories/Button/Button.svelte";
  import Container from "../../../blue-design-components/src/stories/Container/Container.svelte";
  import Text from "../../../blue-design-components/src/stories/Text/Text.svelte";
  import Counter from "../components/Counter.svelte";
  import {goto} from '@sapper/app'
import Link from "../../../blue-design-components/src/stories/Text/Link.svelte";

  export let jwt;
  export let host;
  export let user;
  export let levels;
  export let date;

  const results = user.contestResults[2].levelResults
  
  const start = "Nov 28 2020 12:00:00 GMT+0600"
  const end = "Nov 28 2020 13:30:00 GMT+0600"

  let startDate = new Date(start).getTime();
  let endDate = new Date(end).getTime();

  let status = "results";

  let data = "Загрузка..."

  onMount(async () => {
    // setInterval(() => {
    //   date = date + 1000
    //   if (date < startDate && date < endDate) {
    //     status = 'wait'
    //   } else if (date > startDate && date < endDate) {
    //     status = 'ok'
    //   } else {
    //     status = "results"
    //   }
    // }, 1000)
    let res = await fetch(`/results/stage-3/${user.grade}.txt`)
    if (res.ok)
      data = await res.text()
  });
</script>

<style>
  :global(th) {
    text-align: left;
  }
</style>

<Container>
  <!-- <Text h4>Привет, друг!</Text>
  <Text small margin="0">
    Твоя цель решить как можно больше заданий и заработать больше баллов.
  </Text>
  <Text small margin="0">
    Задания делятся на 5 категорий сложности по 2, 3, 4, 5 и 6  баллов. Всего 25 задач.
  </Text>
  <Text small margin="0">
    Победители будут определены по количеству набранных баллов - ТОП 3 участника в каждой возрастной группе.
  </Text>
  <Text small margin="0">
    Результаты будут доступны в рейтинговой таблице после окончания этапа.
  </Text>
  <Text small margin="0">Удачи в финале!</Text>
  <Text small bold>Важно! Для участия в финале необходимо подтвердить свою личность, возраст и место жительства, связавшись с менеджером по whatsapp <Link href={"https://wa.me/996550984747"}>+996550984747</Link> до 27 ноября, 2020 года.
    Участники, не прошедшие регистрацию не будут допущены к финал.</Text> -->

  {#if status === 'wait'}
    <Text bold>Олимпиада еще не началась. До начала:</Text>
    <Text margin="0">
      <Counter date={start} />
    </Text>
    {#each levels as level}
    <Container row justify="space-between">
      <Text margin="0" bold>{level.name}</Text>
      <Button size="small" disabled>Перейти</Button>
    </Container>
    {/each}
  {:else if status === 'ok'}
  <Text bold>Олимпиада началась! Удачи!</Text>
  {#each levels as level}
  <Container row justify="space-between">
    <Text margin="0" bold>{level.name}</Text>
    <Button size="small" on:click={() => goto(`/engine/?level_id=${level._id}`)} disabled={results.includes(level._id)}>{results.includes(level._id) ? 'Решено' : "Перейти"}</Button>
    <!-- <Button size="small" disabled>Перейти</Button> -->
  </Container>
  {/each}
  {:else if status === 'results'}
  <Text bold>Поздравляю, финалист!
    Ты проделал огромную работу, дойдя до конца. 
    </Text>
  <Text> Между участниками набравшие максимальное одинаковое количество баллов был  проведен дополнительный этап, для выявления призеров олимпиады. В таблице приведены результаты участников с учетом набранных баллов на дополнительном этапе.
  </Text>
  <Text>
    Победители олимпиады - 3 участника в каждой возрастной категории, набравшие максимальное количество баллов.
  </Text>
  <Text>
    Финальные результаты:
  </Text>
  {#if data}
    {@html data}
  {/if}
  {/if}
</Container>
