<script context="module" lang="ts">
  export async function preload(page, session) {
    const user = await this.fetch(`${session.api}/auth/get`, {
      method: "GET",
      headers: {
        Authorization: `Bearer ${session.jwt}`,
        Accept: "application/json",
      },
    });

    if (user.ok) {
      const levels = await this.fetch(
        `${session.api}/level/findByContestID/5fabb6be21353e15a3b119c0`
      );
      const contest = await this.fetch(
        `${session.api}/rank/getlvls/5fabb6be21353e15a3b119c0`,
        {
          headers: {
            Authorization: `Bearer ${session.jwt}`,
          },
        }
      );
      return {
        jwt: session.jwt,
        host: session.api,
        user: await user.json(),
        levels: await levels.json(),
        date: Date.now()
      };
    } else {
      return this.redirect(301, `https://app.balatech.asia/login`);
    }
  }
</script>

<script lang="ts">
  import { onMount } from "svelte";
  import Button from "../../../blue-design-components/src/stories/Button/Button.svelte";
  import Container from "../../../blue-design-components/src/stories/Container/Container.svelte";
  import Text from "../../../blue-design-components/src/stories/Text/Text.svelte";
  import Counter from "../components/Counter.svelte";
  import {goto} from '@sapper/app'

  export let jwt;
  export let host;
  export let user;
  export let levels;
  export let date;

  const results = user.contestResults[1].levelResults
  
  const start = "Nov 21 2020 12:00:00 GMT+0600"
  const end = "Nov 21 2020 15:00:00 GMT+0600"

  let startDate = new Date(start).getTime();
  let endDate = new Date(end).getTime();

  let status = "wait";

  let data = "Загрузка..."

  onMount(async () => {
    setInterval(() => {
      date = date + 1000
      if (date < startDate && date < endDate) {
        status = 'wait'
      } else if (date > startDate && date < endDate) {
        status = 'ok'
      } else {
        status = "results"
      }
    }, 1000)
    let res = await fetch(`/results/stage-2/${user.grade}.txt`)
    if (res.ok)
      data = await res.text()
  });
</script>

<style>
  :global(th) {
    text-align: left;
  }
</style>

<Container>
  <Text h4>Привет, друг!</Text>
  <Text small margin="0">
    Твоя цель решить как можно больше заданий и заработать больше баллов.
  </Text>
  <Text small margin="0">
    Задания делятся на 4 категории: легкие - 2 бала, средние - 3 балла и сложные - 4 балла и очень сложные - 5 баллов.

  </Text>
  <Text small margin="0">
    Чтобы пройти на следующий этап тебе необходимо попасть в ТОП-67 участников в своей возрастной категории. Задач всего 20.

  </Text>
  <Text small margin="0">
    Результаты будут доступны в рейтинговой таблице после окончания этапа.
  </Text>
  <Text small margin="0">Удачи на олимпиаде!</Text>

  {#if status === 'wait'}
    <Text bold>Олимпиада еще не началась. До начала:</Text>
    <Text margin="0">
      <Counter date={start} />
    </Text>
    {#each levels as level}
    <Container row justify="space-between">
      <Text margin="0" bold>{level.name}</Text>
      <Button size="small" disabled>Перейти</Button>
    </Container>
    {/each}
  {:else if status === 'ok'}
  <Text bold>Олимпиада началась! До окончания:</Text>
  <Text margin="0">
    <Counter date={end} />
  </Text>
  {#each levels as level}
  <Container row justify="space-between">
    <Text margin="0" bold>{level.name}</Text>
    <Button size="small" on:click={() => goto(`/engine/?level_id=${level._id}`)} disabled={results.includes(level._id)}>{results.includes(level._id) ? 'Решено' : "Перейти"}</Button>
    <!-- <Button size="small" disabled>Перейти</Button> -->
  </Container>
  {/each}
  {:else if status === 'results'}
  <Text bold>Олимпиада закончена. Ожидайте результаты</Text>
  <Text> Обновления: В результате того, что было немало участников с одинаковыми баллами на нижнем пороге, было принято решение допустить более 67 участников в данной возрастной группе. 
    В данном списке представлены участники, прошедшие в финал. 
    Если ваших результатов нет на страницу, значит вы набрали недостаточно баллов для прохождения в финал олимпиады. 
    Если вы хотите узнать свой результат, то обратитесь по WhatsApp +996500984747</Text>

  {#if data}
    {@html data}
  {/if}
  {/if}
</Container>
