<script context="module" lang="ts">
  export async function preload(page, session) {
    const user = await this.fetch(`${session.api}/auth/get`, {
      method: "GET",
      headers: {
        Authorization: `Bearer ${session.jwt}`,
        Accept: "application/json",
      },
    });

    if (user.ok) {
      const levels = await this.fetch(
        `${session.api}/level/findByContestID/5fa4109196cad84ccde1a461`
      );
      const contest = await this.fetch(
        `${session.api}/rank/getlvls/5fa4109196cad84ccde1a461`,
        {
          headers: {
            Authorization: `Bearer ${session.jwt}`,
          },
        }
      );
      return {
        jwt: session.jwt,
        host: session.api,
        user: await user.json(),
        levels: await levels.json(),
      };
    } else {
      return this.redirect(301, `https://app.balatech.asia/login`);
    }
  }
</script>

<script lang="ts">
  import { onMount } from "svelte";
  import Button from "../../../blue-design-components/src/stories/Button/Button.svelte";
  import Container from "../../../blue-design-components/src/stories/Container/Container.svelte";
  import Text from "../../../blue-design-components/src/stories/Text/Text.svelte";
  import Counter from "../components/Counter.svelte";
  import {goto} from '@sapper/app'

  export let jwt;
  export let host;
  export let user;
  export let levels;


  const results = user.contestResults[0].levelResults
  

  const start = "Nov 7 2020 12:00:00 GMT+0600"
  const end = "Nov 7 2020 14:00:00 GMT+0600"

  let startDate = new Date(start).getTime();
  let endDate = new Date(end).getTime();

  let status = "loading";

  let data = "Загрузка..."

  onMount(async () => {
    // setInterval(() => {
    //   let now = Date.now();

    //   if (startDate > now) {
    //     status = "wait";
    //   } else if (startDate <= now) {
    //     if (endDate > now) {
    //       status = "ok";
    //     } else if (endDate <= now) {
    //       status = "results";
    //     }
    //   }
    // });
    let res = await fetch(`/results/${user.grade}.txt`)
    if (res.ok)
      data = await res.text()
  });
</script>

<style>
  :global(th) {
    text-align: left;
  }
</style>

<Container>
  <Text h4>Привет, друг!</Text>
  <Text small margin="0">
    Твоя цель решить как можно больше заданий и заработать больше баллов.
  </Text>
  <Text small margin="0">
    Задания делятся на 3 категории сложности: легкие - 2 бала, средние - 3 балла
    и сложные - 4 балла.
  </Text>
  <Text small margin="0">
    Чтобы пройти на следующий этап тебе надо набрать 10 и более баллов. Задач
    всего 15.
  </Text>
  <Text small margin="0">
    Результаты будут доступны в рейтинговой таблице после окончания этапа.
  </Text>
  <Text small margin="0">Удачи на олимпиаде!</Text>

  <!-- {#if status === 'wait'}
    <Text bold>Олимпиада еще не началась. До начала:</Text>
    <Text margin="0">
      <Counter date={start} />
    </Text>
    {#each levels as level}
    <Container row justify="space-between">
      <Text margin="0" bold>{level.name}</Text>
      <Button size="small" disabled>Перейти</Button>
    </Container>
    {/each}
  {:else if status === 'ok'}
  <Text bold>Олимпиада началась! До окончания:</Text>
  <Text margin="0">
    <Counter date={end} />
  </Text>
  {#each levels as level}
  <Container row justify="space-between">
    <Text margin="0" bold>{level.name}</Text>
    <Button size="small" on:click={() => goto(`/engine/?level_id=${level._id}`)} disabled={results.includes(level._id)}>{results.includes(level._id) ? 'Решено' : "Перейти"}</Button>
  </Container>
  {/each}
  {:else if status === 'results'}
  <Text margin="0" bold>Олимпиада закончена. Ожидайте результаты</Text>
  {/if} -->
  <Container>
    {@html data}
  </Container>
</Container>
