<script>

  import { fade } from "svelte/transition";
  
  </script>
  <style lang="scss">
    @import '../theme/variables.scss';
    .bdc-backdrop {
      z-index: 5000;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      // mix-blend-mode: multiply;
      background-color: rgba($black, 0.5);
    }
  </style>
  
  <div transition:fade={{duration: 100}} class="bdc-backdrop" on:click>
  </div>
  