<script lang="ts">
  export let padding: "small" | "medium" | "large" = "medium";
</script>

<style lang="scss">
  @use 'sass:map';
  @import "../theme/variables.scss";

  .bdc-content {
    &.small {
      padding: map.get($default-padding, small);
    }
    &.medium {
      padding: map.get($default-padding, medium);
    }
    &.large {
      padding: map.get($default-padding, large);
    }
  }
</style>

<div class={['bdc-content', padding].join(' ')}>
  <slot />
</div>
