<script lang="ts">
  import { fly, slide } from 'svelte/transition'
  import { circOut } from 'svelte/easing'

</script>

<style lang="scss">
  @use "sass:map";
  @import '../theme/variables.scss';

  .bdc-drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 6000;
    
    display: block;
    background-color: map.get($theme-colors, background);

    border-radius: $default-border-radius * 2 $default-border-radius * 2 0 0;
  }
</style>

<div transition:slide={{duration: 250, easing: circOut}} class="bdc-drawer">
  <slot/>
</div>