<script lang="ts">
import { onMount } from "svelte";

  import Button from "../Button/Button.svelte";
  import Container from "../Container/Container.svelte";
  import Link from "../Text/Link.svelte";
  import Text from "../Text/Text.svelte";
  import Dw from "./";

  export let padding: "small" | "medium" | "large" = "medium";
  export let open: boolean = false;

  onMount(() => {
    setTimeout(() => {
      open = true
    }, 1000)
  })
  
</script>

{#if open}
<Dw.Backdrop />
<Dw.Drawer>
  <Dw.Content {padding}>
    <Text h3 margin="0 0 10px 0">Привет, друг!</Text>
    <Text margin="0">
      Для участия в олимпиаде тебе необходимо ознакомится с
      <Link>правилами участия</Link>
      и дать свое согласие.
    </Text>
    <Container>
      <Text small margin="0">Я согласен с условиями</Text>
      <Button disabled>Далее</Button>
    </Container>
  </Dw.Content>
</Dw.Drawer>
{/if}