@use "sass:map";
@import "../theme/variables.scss";

$default-color: map.get($theme-colors, primary);

.bdc-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;

  .bdc-checkbox {
    width: 1px;
    height: 1px;
    opacity: 0;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .bdc-checkbox-icon {
    border-radius: 3px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border: 1px solid rgba($default-color, 0.4);

    &.radio {
      border-radius: 50%;
      border-color: $default-color;
    }

    &:hover {
      border-color: $default-color;
    }

    &.checked {
      background-color: $default-color;
    }

    transition: all 50ms ease;
  }

  .bdc-checkbox-text {
    font-family: $default-font;
    font-size: 14px;
    line-height: 18px;
    margin-left: 8px;
  }
}