<script lang="ts">
  export let id: string = String(Math.random());
  export let checked: boolean = false;
  export let radio: boolean = false
</script>

<style lang="scss">
  @import "./checkbox.scss";
</style>

<label for={id} class="bdc-checkbox-wrapper" on:change>
  <input class="bdc-checkbox" {id} type="checkbox" {checked}/>
  <span class={["bdc-checkbox-icon", (radio ? 'radio' : ''), (checked ? 'checked' : '')].join(' ')}>
    <svg viewBox="0 0 20 20" height="16" width="16" fill="none">
      {#if checked}
        <path
          d="M14 7L8.5 12.5L6 10"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      {/if}
    </svg>
  </span>
  <span class="bdc-checkbox-text">
    <slot>Label</slot>
  </span>
</label>
