@use "sass:map";

// Black



$black: #000000;
$white: #ffffff;

$gray-10: #f4f4f4;
$gray-20: #e0e0e0;
$gray-30: #c6c6c6;
$gray-40: #a8a8a8;
$gray-50: #8d8d8d;
$gray-60: #6f6f6f;
$gray-70: #525252;
$gray-80: #393939;
$gray-90: #262626;
$gray-100: #161616;

$cool-gray-10: #f2f4f8;
$cool-gray-20: #dde1e6;
$cool-gray-30: #c1c7cd;
$cool-gray-40: #a2a9b0;
$cool-gray-50: #878d96;
$cool-gray-60: #697077;
$cool-gray-70: #4d5358;
$cool-gray-80: #343a3f;
$cool-gray-90: #21272a;
$cool-gray-100: #121619;

$blue-10: #edf5ff;
$blue-20: #d0e2ff;
$blue-30: #a6c8ff;
$blue-40: #78a9ff;
$blue-50: #4589ff;
$blue-60: #0f62fe;
$blue-70: #0043ce;
$blue-80: #002d9c;
$blue-90: #001d6c;
$blue-100: #001141;

$cyan-50: #1192e8;

$red-60: #da1e28;

$yellow: #f1c21b;
$magenta: #d02670;
$violet: #8a3ffc;

$default-border-radius: 5px;

$default-font: Arial, Helvetica, sans-serif;

$theme-colors: (
  background: $white,
  background-secondary: $gray-10,
  background-tertiary: $gray-20,
  primary: $black,
  secondary: $white,
  success: $blue-50,
  error: $red-60,
  warning: $yellow,
  alert: $magenta,
  violett: $violet
);

$default-padding: (
  small: 16px,
  medium: 20px,
  large: 24px
);

@function set-text-color($color) {  
  @if (lightness( $color ) > 70) {
    @return $black;
  }
  @else {
    @return $white;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

