@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rbrrzv');
  src:  url('fonts/icomoon.eot?rbrrzv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rbrrzv') format('truetype'),
    url('fonts/icomoon.woff?rbrrzv') format('woff'),
    url('fonts/icomoon.svg?rbrrzv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  vertical-align: sub;
}

.icon-paint:before {
  content: "\e906";
}
.icon-step:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.icon-right:before {
  content: "\e902";
}
.icon-f1:before {
  content: "\e903";
}
.icon-f2:before {
  content: "\e904";
}
.icon-if:before {
  content: "\e905";
}
