<script lang="ts">

import Fs from "./Fieldset";
export let padding: 'small' | 'medium' | 'large' = 'medium'
export let width: number = 200
</script>

<style>
</style>

<div style={`width: ${width}px;`}>
  <Fs.Fieldset>
    <Fs.Header {padding}>
      Этап I
    </Fs.Header>
    <Fs.Content {padding}/>
    <Fs.Footer {padding}>
      <Fs.FooterStatus>
        До начала осталось: <br/>
        <strong>00 часов 00 минут 00 секунд</strong>
      </Fs.FooterStatus>
      <Fs.FooterActions/>
    </Fs.Footer>
  </Fs.Fieldset>
</div>
