<script lang="ts">
  export let href: string = "";
</script>

<style lang="scss">
  @use 'sass:map';
  @import "../theme/variables.scss";
  a {
    display: inline;
    text-decoration: none;
    cursor: pointer;
    color: map.get($theme-colors, success);
  }
  a:visited {
    color: map.get($theme-colors, success);
  }
  * {
    outline: none;
    -webkit-tap-highlight-color: none;
    border: none;
  }
</style>

<a {href}><slot/></a>
