@import "../theme/variables.scss";

$base-font-size: 8px;

.bdc-text {
  font-family: $default-font;
  text-rendering: optimizeLegibility;

  &.h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
  }
  &.h2 {
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
  }
  &.h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
  }
  &.h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  &.h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  &.h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
  &.p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    &.small {
      font-size: 14px;
      line-height: 22px;
    }
    &.bold {
      font-weight: 700;
    }
  }
}