<script lang='ts'>
  export let h1: boolean = false;
  export let h2: boolean = false;
  export let h3: boolean = false;
  export let h4: boolean = false;
  export let h5: boolean = false;
  export let h6: boolean = false;
  export let small: boolean = false;
  export let bold: boolean = false;
  export let margin: string | undefined = undefined;
</script>

<style lang='scss'>
  @import "./text.scss";
</style>

{#if h1}
  <h1 class="bdc-text h1" style={(margin ? `margin: ${margin}` : '')}><slot/></h1>
{:else if h2}
  <h2 class="bdc-text h2" style={(margin ? `margin: ${margin}` : '')}><slot/></h2>
{:else if h3}
  <h3 class="bdc-text h3" style={(margin ? `margin: ${margin}` : '')}><slot/></h3>
{:else if h4}
  <h4 class="bdc-text h4" style={(margin ? `margin: ${margin}` : '')}><slot/></h4>
{:else if h5}
  <h5 class="bdc-text h5" style={(margin ? `margin: ${margin}` : '')}><slot/></h5>
{:else if h6}
  <h6 class="bdc-text h6" style={(margin ? `margin: ${margin}` : '')}><slot/></h6>
{:else}
  <p class={["bdc-text p", (small ? 'small' : ''), (bold ? 'bold' : '')].join(' ')} style={(margin ? `margin: ${margin}` : '')}><slot/></p>
{/if}

