<script>
  import Container from "../Container/Container.svelte";
import Link from "./Link.svelte";
  import Text from "./Text.svelte";
</script>

<Container row>
  <Container>
    <Text h1 margin="0 0 10px 0">Lorem ipsum dolor</Text>
    <Text h2 margin="0 0 10px 0">Lorem ipsum dolor</Text>
    <Text h3 margin="0 0 10px 0">Lorem ipsum dolor</Text>
    <Text h4 margin="0 0 10px 0">Lorem ipsum dolor</Text>
    <Text h5 margin="0 0 10px 0">Lorem ipsum dolor</Text>
    <Text h6 margin="0 0 10px 0">Lorem ipsum dolor</Text>
  </Container>
  <Container>
    <Text p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
      cupiditate? Tempore debitis ipsam expedita, accusantium eligendi in quis,
      reiciendis labore dolor suscipit iste quia assumenda modi aspernatur!
      Saepe, nobis quibusdam!
    </Text>
    <Text p bold>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
      cupiditate? Tempore debitis ipsam expedita, accusantium eligendi in quis,
      reiciendis labore dolor suscipit iste quia assumenda modi aspernatur!
      Saepe, nobis quibusdam!
    </Text>
    <Text p small>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
      cupiditate? Tempore debitis ipsam expedita, accusantium eligendi in quis,
      reiciendis labore dolor suscipit iste quia assumenda modi aspernatur!
      Saepe, nobis quibusdam!
    </Text>
  </Container>
</Container>
<Container row>
  <Container>
    <Text h3 margin="0 0 10px 0">Привет, друг!</Text>
    <Text p margin="0">
      Для участия в олимпиаде тебе необходимо ознакомится с <Link>правилами участия</Link> и
      дать свое согласие.
    </Text>
  </Container>
  <Container></Container>
  <Container></Container>
</Container>
