<script lang="ts">
  import LoadingAnimated from "../Icons/LoadingAnimated.svelte";
  import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

  export let size: "small" | "medium" | "large" = "medium";
  // export let shape: "default" | "square" = "default";

  export let prefix: any = undefined;
  export let postfix: any = undefined;

  export let type:
    | "primary"
    | "secondary"
    | "success"
    | "error"
    | "warning"
    | "alert"
    | "violett" = "primary";

  export let loading: boolean = false;
  export let disabled: boolean = false;
  export let width: number | undefined = undefined;
</script>

<style lang="scss">
  @import "./button.scss";
</style>

<button
  {disabled}
  on:click
  style={width ? `width: ${width}px` : ''}
  class={['bdc-button', type, size, loading ? 'loading' : ''].join(' ')}>
  {#if loading}
    <span class="prefix">
      <LoadingAnimated {size} />
    </span>
  {:else if prefix}
    <span class="prefix">
      <svelte:component this={prefix} {size} />
    </span>
  {/if}
  <slot>Upload</slot>
  {#if postfix}
    <span class="postfix">
      <svelte:component this={postfix} {size} />
    </span>
  {/if}
</button>
