@use "sass:color";
@use "sass:map";
@import "../theme/variables.scss";

@function get-hover-color($color) {
  @if (lightness($color) > 40) {
    @return color.scale($color, $lightness: -10%);
  }

  @else {
    @return color.scale($color, $lightness: 20%);
  }
}

@function get-active-color($color) {
  @if (lightness($color) > 40) {
    @return color.scale($color, $lightness: -20%);
  }

  @else {
    @return color.scale($color, $lightness: 30%);
  }
}

$types: primary,
secondary,
success,
error,
warning,
alert,
violett;

.bdc-button {
  // mix-blend-mode: multiply;
  font-size: 16px;
  font-family: $default-font;
  padding: 0px 12px;
  border-radius: $default-border-radius;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: 150ms ease-in-out all;
  box-sizing: border-box;

  .prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }

  .postfix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
  }

  &.loading {
    $border-color: map.get($theme-colors, background-tertiary);
    $color: map.get($theme-colors, background-secondary);
    border-color: $border-color !important;
    background-color: $color !important;
    pointer-events: none;
    color: rgba(set-text-color($color), 0.5) !important;
    cursor: not-allowed;
  }

  &:active {
    transform: translateY(1px);
    transition: 20ms ease-in-out all;
  }

  &.small {
    height: 32px;
  }

  &.medium {
    height: 40px;
  }

  &.large {
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  &:disabled {
    $color: map.get($theme-colors, background-secondary);
    border: 1px solid map.get($theme-colors, background-tertiary) !important;
    cursor: not-allowed;
    background-color: $color !important;
    color: rgba(set-text-color($color), 0.5) !important;
  }

  @each $type in $types {
    &.#{$type} {
      $color: map.get($theme-colors, $type);
      border: 1px solid $color;
      background-color: $color;
      color: set-text-color($color);

      &:hover {
        $color: get-hover-color($color);
        background-color: $color;
        border-color: $color;
      }

      &:active {
        $color: get-active-color($color);
        background-color: $color;
        border-color: $color;
      }
    }
  }
}

* {
  outline: none;
  -webkit-tap-highlight-color: none;
  border: none;
}