<script lang="ts">
  import Container from "./Container.svelte";
  export let flex: number = 1;
</script>

<style lang="scss">
  @use "sass:map";
  @use 'sass:color';
  @import "../theme/variables.scss";
  .blue {
    $color: map.get($theme-colors, success);
    border: 1px solid color.scale($color, $lightness: 30%);
    font-family: $default-font;
    background-color: $color;
    color: set-text-color($color);
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 20px;
    border-radius: $default-border-radius;
    flex: 1;
  }
</style>

<Container {flex}>
  <div class="blue">Container</div>
</Container>
