<script lang="ts">
  export let row: boolean = false;
  export let flex: number = 1;
  export let justify: 'start' | 'center' | 'space-around' | 'space-between' | 'space-evenly' | 'normal' = 'normal'
  export let align: 'start' | 'center' | 'stretch' | 'end' | 'normal' = 'normal'
</script>

<style lang="scss">

  :global(.bdc-container) {
    --gap: 12px;
    display: flex;

    &.row {
      flex-direction: row;
    }
    &.column {
      flex-direction: column;
    }
  }

  :global(.bdc-container.row > *:not(:nth-child(1))) {
    margin-left: var(--gap);
  }

  :global(.bdc-container.column > *:not(:nth-child(1))) {
    margin-top: var(--gap);
  }

</style>

<div
  class={['bdc-container', row ? 'row' : 'column'].join(' ')}
  style={`flex: ${flex}; justify-content: ${justify}; align-items: ${align}`}>
  <slot />
</div>
