<script lang="ts">
import Button from "../Button/Button.svelte";
import FieldsetView from "../Fieldset/FieldsetView.svelte";
import ChevronLeft from "../Icons/ChevronLeft.svelte";
import BlueContainer from "./BlueContainer.svelte";
import Container from "./Container.svelte";

export let row: boolean = true;

</script>

<Container {row}>
  <Container>
    <BlueContainer/>
    <BlueContainer/>
    <Container row>
      <BlueContainer/>
      <BlueContainer/>
    </Container>
  </Container>
  <BlueContainer/>
  <BlueContainer/>
</Container>