<script lang='ts'>
  export let padding: 'small' | 'medium' | 'large' = 'medium'
</script>

<style lang='scss'>
  @import "./fieldset.scss";
  .bdc-content {
    @include bdc-fieldset-content;
    @include set-full-padding;
  }
</style>

<div class={['bdc-content', padding].join(' ')}>
  <slot>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aut, mollitia quidem, omnis nesciunt qui unde quos voluptas delectus quia est officia laudantium quasi nobis id consequuntur nemo blanditiis autem.
  </slot>
</div>