<script lang="ts">
  export let padding: "small" | "medium" | "large" = "medium";
</script>

<style lang="scss">
  @import "./fieldset.scss";

  $sizes: small, medium, large;

  .bdc-fieldset {
    @include bdc-fieldset;
    @each $size in $sizes {
      &.#{$size} {
        * {
          @include set-padding($size);
        }
      }
    }
  }
</style>

<div class={['bdc-fieldset', padding].join(' ')}>
  <slot />
</div>
