@use "sass:map";
@import "../../theme/variables.scss";

$default-border-color: map.get($theme-colors, background-tertiary);
$default-fieldset-color: map.get($theme-colors, background);
$default-footer-color: map.get($theme-colors, background-secondary);
$default-border-width: 1px;

$padding-small: 16px;
$padding-medium: 20px;
$padding-large: 24px;

$default-border: $default-border-width solid $default-border-color;

@mixin set-padding($size) {
  padding: map.get($default-padding, $size);
}

@mixin set-full-padding {
  &.small {
    padding: map.get($default-padding, small);
  }
  &.medium {
    padding: map.get($default-padding, medium);
  }
  &.large {
    padding: map.get($default-padding, large);
  }
}

@mixin bdc-fieldset {
  border: $default-border;
  border-radius: $default-border-radius;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow: hidden;

  background-color: $default-fieldset-color;
}

@mixin bdc-fieldset-header {
  border-bottom: $default-border;
  display: block;
  font-family: $default-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
}

@mixin bdc-fieldset-content {
  display: block;
  font-family: $default-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

@mixin bdc-fieldset-footer {
  border-top: $default-border;
  display: block;
  background-color: $default-footer-color;

  font-family: $default-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

@mixin bdc-fieldset-footer-status {
  font-family: $default-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

@mixin bdc-fieldset-footer-action($margin-size) {
  margin-top: $margin-size;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

* {
  outline: none;
  -webkit-tap-highlight-color: none;
  border: none;
}