<script lang="ts">
  export let padding: 'small' | 'medium' | 'large' = 'medium'
</script>

<style lang='scss'>
  @import "./fieldset.scss";
  .bdc-footer {
    @include bdc-fieldset-footer;
    @include set-full-padding;
  }
</style>

<div class={["bdc-footer", padding].join(' ')}>
  <slot>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </slot>
</div>