<style lang="scss">
  @import "./fieldset.scss";
  .bdc-status {
    @include bdc-fieldset-footer-status;
  }
</style>

<div class="bdc-status">
  <slot>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </slot>
</div>
