<script>
import Button from "../../Button/Button.svelte";
import ChevronRight from "../../Icons/ChevronRight.svelte";

</script>
<style lang='scss'>
  @import "./fieldset.scss";
  .bdc-actions {
    @include bdc-fieldset-footer-action($padding-small);
  }
</style>

<div class="bdc-actions">
  <slot>
    <Button postfix={ChevronRight}>Button</Button>
  </slot>
</div>