<script lang='ts'>
  export let padding: 'small' | 'medium' | 'large' = 'medium'
</script>

<style lang='scss'>
  @import "./fieldset.scss";
  .bdc-header {
    @include bdc-fieldset-header;
    @include set-full-padding;
  }
</style>

<div class={["bdc-header", padding].join(' ')}>
  <slot>
    The header
  </slot>
</div>